/* add CSS class and element and selectors here */
body {
      background-color: lightblue;
      font-size: 150%;
    }

.anExampleClass {
  font-size: 300%;
  background-color: lightgreen;
  font-family: courier;
  border: 1px dotted red;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: rotate(-30)deg; 
}
